<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.techguide"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/tg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".mseCourses"></activity>
        <activity android:name=".meeCourses" />
        <activity android:name=".fstCourses" />
        <activity android:name=".eeeCourses" />
        <activity android:name=".cscCourses" />
        <activity android:name=".cveCourses" />
        <activity android:name=".cheCourses" />
        <activity android:name=".ageCourses" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LecturerDetailActivity" />
        <activity android:name=".selectTeacher" />
        <activity android:name=".Lecturer" />
        <activity android:name=".aboutApp" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".modified_nav"
            android:label="@string/title_activity_modified_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>